h1,
h2,
h3,
h4,
h5,
h6,
ul {
  font-family: "Montserrat", sans-serif;
}

p,
button {
  font-family: "Roboto", sans-serif;
}

@keyframes scale-up-center-normal {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.scale-up-center-normal {
  animation: scale-up-center-normal 1s ease-in-out 0s 1 normal none;
}

/* Animations End */
